@charset "utf-8";
/* =================== reset, base =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-weight: 400; /* Regular(400), Bold(700), Extra Bold(800), Light(300) */
    line-height: 1.4;
    color: #666666;
    background: #fff;
}
b, strong {
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}
ul, ol {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
}
/* =================== layout =================== */
.inner {
    position: relative;
    width: 1120px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
}
header {
    
}
.header_top {
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}
.header_bottom {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
footer {
    margin-top: 100px;
}
.footer_top {
    position: relative;
    width: 100%;
    height: 60px;
}
.footer_top_inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer_bottom1 {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #22263b;
    background: #31354e;
    clear: both;
}
.footer_bottom2 {
    width: 100%;
    height: 137px;
    background: #31354e;
}