@charset "utf-8";
/* reset, base */
:root {
    --primary-color: #0e1111;
    --secondary-color: #ffffff;
    --hover-color: #ffffff;
    --hover-background-color: #0e1111;
    --line-color: #DDDDDD;
    /* z-index */
    --zindex-header: 100;
    --zindex-gnb: 200;
    --zindex-toggle: 300;
    --zindex-dimmed: 99;
    /* margin */
    --margin-0-5: .5rem;
    --margin-1: 1rem;
    --margin-1-5: 1.5rem;
    --margin-2: 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
/* common */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}
.icon {
    width: 32px;
    vertical-align: baseline;
}
/* layout */
.main-inner {
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}

/* header */
.main-logo {
    border-bottom: 1px solid var(--line-color);
}
.main-logo img {
    width: 260px;
    margin: 10px auto;
}
.gnb__container {
    width: 1100px;
    margin: 0px auto;
}
.gnb {
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background: var(--secondary-color);
    width: 100%;
}
/* .gnb li:nth-child(1) .icon,
.gnb li:nth-child(5) .icon{
    margin-top: -5px;
} */
.gnb__subbox {
    position: absolute;
    margin-top: var(--margin-2);
    display: none;
    border: 1px solid #000;
}

/* main banner */

/* community */
.cummunity h1 {
    text-align: center;
    margin-bottom: var(--margin-2);
    /* display: flex; */
}
.community__box {
    display: flex;
}
.community__gallery {
}
.community__gallery ul {
    /* width: 550px; */
    width: 50%;
}
.community__gallery ul li {
    width: 260px;
    /* display: inline-block; */
}
.community__info > ul {
    height: 100%;
    width: 50%;
    /* width: 550px; */
}
.community__info > ul > li {
    width: 260px;
    /* display: inline-block; */
    text-align: center;
    border: 1px solid #000;
}